.DS_Store
.tags*
/.idea/
/components/onevn_webtorrent/extension/out/
/components/onevn_rewards/resources/extension/onevn_rewards/out/
/components/onevn_sync/extension/onevn-crypto/
/components/onevn_sync/extension/onevn-sync/
/dist/
/out/
/vendor/*
!/vendor/bat-native-ledger
!/vendor/bat-native-confirmations
!/vendor/bat-native-ads
!/vendor/CPPLINT.cfg
node_modules/
*.xcodeproj
*.swp
*.pyc
*.VC.db
*.VC.VC.opendb
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
debug.log
npm-debug.log
*~
CMakeLists.txt
cmake-build-debug/
coverage/
/build/rustup/
venv/
